
        body{ 

         background-color: palevioletred;
        	font-family: Impact, Charcoal, sans-serif;

        	text-align: center;
        	margin-top: 4%;

  



              }  




h1 {font-family: Impact, Charcoal, sans-serif
    color: white;
    text-align: center;
}

.box {

    font-size: 20px;
     font-family: helve

}






 
        
         
         a{
         color: aqua;
             
           text-decoration: none;
             
           text-decoration-color: azure;          
             
            
                 }  

         
         
         a:hover {
           text-decoration: line-through;  
             
             
                }
         
         
         
         
    