header {
    height: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}


body {
    background-image: url("max12.jpeg");
    background-position: center;
    background-repeat: repeat;
    margin: auto;
    width: 65%;
    background-size: auto;
    margin-top: 5px;
    text-align: center;
    font-family: 'Concert One', cursive;
    height: 1000px;


}

h1 {
    color: #ff0000;
    border: 2px solid #ff0000;

}

h2 {
    background-color: #ff0000;
}

p {
    color: #ff0000;
    font-size: 18px;
}


aside {
    height: 200pzx;
    width: 40%;
    margin: auto;
    float: left;
    /*    border: 8px solid black;*/

}

article {
    height: 2000px;
    ;
    width: 40%;
    float: right;
    margin: auto;

}

footer {
    height: 40px;
    clear: both;
    font-size: 18px;
    background-color: #ff0000;
    color: black;
}


* {
    margin: 6;
    padding: 4;
}

aside3 {

    height: 100px;
    width: auto;
    float: none;
}


aside2 {

    height: 100px;
    width: auto;
    float: none;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C0C0C0;
}

nav li {
    float: left;
    border-right: 2px solid ghostwhite;
}

nav li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 2px;
    text-decoration: overline;
}

nav li a:hover:not(.active) {
    background-color: #ff0000;
}

.active {
    background-color: #ff0000;
}
