header {
    height: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}


body {

    background-image: url("max4.png");
background-position: top;
/*background-repeat: round;*/
    margin: auto;
    width: 65%;
background-size: cover;
    margin-top: 5px;
    text-align: center;
font-family: 'Concert One', cursive;

}

h1 {
    border: 2px solid #ff0602;
}


h2 {
font-size: 20px;
height: 4px;
}


p {
font-size: 18px;
background-color: #ff0000;
}

aside {
    height: 540px;
    width: 40%;
    margin: auto;
    float: center;
/*    border: 8px solid black;*/

}

footer {
    height: 150px;
    clear: both;
}



* {
    margin: 6;
    padding: 4;
}





nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C0C0C0;
}

 nav li {
    float: left;
    border-right:2px solid ghostwhite;
}

nav li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 2px;
    text-decoration: overline;
}

nav li a:hover:not(.active) {
    background-color: #ff0000;
}

.active {
    background-color: #ff0000;
}
