
        body{ 

            
            color: green;
            background-image: url(shore.jpeg) ;

             background-size: 10%;
            

            





        	font-family:'Ruslan Display', cursive;

        	text-align: center;
        	margin-top: 6%;
            
            
            
       }   
        
         
         
             
             
    